# PREPARACION DE DATOS

# Preparación de datos -  Empleados



1. Integración de los datos

2. Eliminar variables irrelevantes y redundantes

3. Descripción estadística de los datos

4. Limpieza de datos

5. Análisis de correlaciones

6. Balanceo de datos

7. Transformación de tipo de variable según el método de ML

8. Guardar los datos preparados

In [1]:
#IMPORTAR LIBRERIAS
import pandas as pd #manipulacion de datos
import numpy as np #matrices y vectores
import matplotlib.pyplot as plt #grafica

In [2]:
data = pd.read_csv("drugs.csv", encoding='utf-8',delimiter=';')
data.head()

   ID  EDAD SEXO PRESIÓN SANGUÍNEA COLESTEROL     SODIO   POTASIO MEDICAMENTO
0   1    23    F              HIGH       HIGH  0,792535  0,031258       drugY
1   2    47    M               LOW       HIGH  0,739309  0,056468       drugC
2   3    47    M               LOW       HIGH  0,697269  0,068944       drugC
3   4    28    F            NORMAL       HIGH  0,563682  0,072289       drugX
4   5    61    F               LOW       HIGH  0,559294  0,030998       drugY

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 200 non-null    int64
 1   EDAD               200 non-null    int64
 2   SEXO               200 non-null    object
 3   PRESIÓN SANGUÍNEA  200 non-null    object
 4   COLESTEROL         200 non-null    object
 5   SODIO              200 non-null    object
 6   POTASIO            200 non-null    object
 7   MEDICAMENTO        200 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.6+ KB

In [4]:
# Renombramiento de columnas

data = data.rename(columns={'ID':'Id', 'EDAD':'Edad', 'SEXO':'Sexo', 'PRESIÓN SANGUÍNEA':'PresionSanguinea',
                           'COLESTEROL':'Colesterol', 'SODIO':'Sodio', 'POTASIO':'Potasio', 'MEDICAMENTO':'Medicamento'})

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                200 non-null    int64
 1   Edad              200 non-null    int64
 2   Sexo              200 non-null    object
 3   PresionSanguinea  200 non-null    object
 4   Colesterol        200 non-null    object
 5   Sodio             200 non-null    object
 6   Potasio           200 non-null    object
 7   Medicamento       200 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.6+ KB

In [5]:
data['Sexo']=data['Sexo'].astype('category')
data['PresionSanguinea']=data['PresionSanguinea'].astype('category')
data['Colesterol']=data['Colesterol'].astype('category')
data['Sodio']=data['Sodio'].astype(float)
data['Potasio']=data['Potasio'].astype(float)
data['Medicamento']=data['Medicamento'].astype('category')


data.info()

ValueError: could not convert string to float: '0,792535'

In [ ]:
#Revisamos si tenemos ID repetidos

ids = data['Id'].value_counts()

ids[ids > 1]
# No hay Ids repetidos.

ELIMINANDO VARIABLES IRRELEVANTES O REDUNDANTES

In [ ]:
# Variables irrelevantes para el proceso de minería

data = data.drop('Id',axis=1) #Eliminamos el ID por ser irrelevante, axis=1 indica que es una columna

data.head()

DESCRIPCIÓN ESTADÍSTICA

In [ ]:
data.describe()

In [ ]:
edad_unique, counts = np.unique(data['Edad'], return_counts=True)
print(edad_unique)
print(counts)

In [ ]:
# Cleaning atypical ages
data.Edad[data['Edad']>120] = np.nan

edad_unique, counts = np.unique(data['Edad'], return_counts=True)
print(edad_unique)
print(counts)

In [ ]:
data = data.dropna()

In [ ]:
data.info()

In [ ]:
sexo_unique, counts = np.unique(data['Sexo'], return_counts=True)
print(sexo_unique)
print(counts)

In [ ]:
# Replacing column values
data['Sexo'].replace({'Mujer':'M'}, inplace=True)
data['Sexo'].unique()

In [ ]:
presion_unique, counts = np.unique(data['PresionSanguinea'], return_counts=True)
print(presion_unique)
print(counts)

In [ ]:
data['PresionSanguinea'].replace({'Null': np.nan}, inplace=True)
data = data.dropna()
data['PresionSanguinea'].unique()

In [ ]:
colesterol_unique, counts = np.unique(data['Colesterol'], return_counts=True)
print(colesterol_unique)
print(counts)

In [ ]:
data['Colesterol'].replace({'hig': 'HIGH'}, inplace=True)
data['Colesterol'].unique()

In [ ]:
data.info()

In [ ]:
sodio_unique, counts = np.unique(data['Sodio'], return_counts=True)
print(sodio_unique)
print(counts)