# PANDAS

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnel, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"]
    }
)

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnel, Miss. Elizabeth   58  female

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
ages = pd.Series([22, 35, 58], name="Age")

In [6]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

### Do something with a DataFrame or Series

I want to know the maximum Age of the passengers.

We can do this on the DataFrame by selecting the Age column and applying max():

In [7]:
df["Age"].max()

58

Or to the Series:

In [8]:
ages.max()

58

Pandas methods can be applied to a DataFrame or Series. As methods are functions, do not forget to use parentheses ().

I'm interested in some basic statistics of the numerical data of my data table.

In [9]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

The *describe()* method provides a quick overview of the numerical data in a DataFrame. As the Name and Sex columns are textual data, these are by default not taken into account by the describe() method.

Many pandas operations return a *DataFrame* or a *Series*. The *describe()* method is an example of a pandas operation returning a pandas Series.

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p> <b>Note:</b>This is just a starting point. Similar to spreadsheet software, pandas represents data as a table with columns
and rows. Apart from the representation, also the data manipulations and calculations you would do in spreadsheet
software are supported by pandas. Continue reading the next tutorials to get started!</p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

* Import the package, aka *import pandas as pd*
* A table of data is stored as a pandas *DataFrame*
* Each column in a *DataFrame* is a *Series*
* You can do things by applying a method to a *DataFrame* or *Series*