# Pandas

Librería de código abierto de Python que proporciona herramientos de análisis y de manipulación de datos de alto rendimiento utilizando potentes estructuras de datos

El nombre se deriva de Panel Data

### 5 Pasos Típicos en el Procesamiento y Análisis de Datos con Pandas

- Cargar
- Preparar
- Manipular
- Modelar
- Analizar

## DataFrames

Estructuras de datos etiquetados bidimensionales.
Consta de:
- datos
- índice
- columna

In [3]:
import numpy as np
import pandas as pd

Creación de DataFrame

In [4]:
data = np.array([['','Col1', 'Col2'], ['Fila1', 11, 22], ['Fila2', 33, 44]])
print(pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:]))

      Col1 Col2
Fila1   11   22
Fila2   33   44

Creación de una Serie

In [7]:
series = pd.Series({"Argentina":"Buenos Aires",
                   "Chile":"Santiago de Chile",
                   "Colombia":"Bogotá",
                   "Perú":"Lima"})
print('Series:')
print(series)

Series:
Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogotá
Perú                      Lima
dtype: object

Creación de DataFrame

In [9]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]))
print('DataFrame:')
print(df)

DataFrame:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Forma del DataFrame

In [10]:
print('Forma del DataFrame')
print(df.shape)

Forma del DataFrame
(3, 3)

Altura del DataFrame

In [11]:
print('Altura del DataFrame:')
print(len(df.index))

Altura del DataFrame:
3

Estadísticas del DataFrame

In [12]:
print('Estadísticas del DataFrame')
print(df.describe())

Estadísticas del DataFrame
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

Media de las columnas DataFrame

In [13]:
print('Media de las columnas DataFrame:')
print(df.mean())

Media de las columnas DataFrame:
0    4.0
1    5.0
2    6.0
dtype: float64

Correlación del DataFrame

In [14]:
print('Correlación del DataFrame')
print(df.corr())

Correlación del DataFrame
     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

Seleccionar la primera columna del DataFrame

In [16]:
print('Primera columna del DataFrame:')
print(df[0])

Primera columna del DataFrame:
0    1
1    4
2    7
Name: 0, dtype: int32

Seleccionar dos columnas del DataFrame

In [17]:
print('Dos columnas del DataFrame:')
print(df[[0,1]])

Dos columnas del DataFrame:
   0  1
0  1  2
1  4  5
2  7  8

Seleccionar el valor de la primera fila y la última columna del DataFrame

In [18]:
print('Valor de la primera fila y última columna del DataFrame:')
print(df.iloc[0][2])

Valor de la primera fila y última columna del DataFrame:
3

Seleccionar los valores de la primera fila del DataFrame

In [19]:
print('Valores de la primera fila del DataFrame')
print(df.loc[0])

Valores de la primera fila del DataFrame
0    1
1    2
2    3
Name: 0, dtype: int32

Seleccionar los valores de la primera fila del DataFrame

In [20]:
print('Valores de la primera fila del DataFrame:')
print(df.iloc[0,:])

Valores de la primera fila del DataFrame:
0    1
1    2
2    3
Name: 0, dtype: int32